<h1 class="lbl"><%=image_tag "store/arrow1.png", :width=>"11", :height=>"12" ,:alt=>"arrow",:class=>"arrow green"%>prossimamente</h3>
            <p class="intro">Scopri le prossime uscite in esclusiva per YAYO</p>

                <div class="inda1">
                <div class="data">
                <p>MAG<span>29</span></p>
                </div>
                <ul>
                <li><a href="brand.html">Nomination<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Mc Kenzy<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Penn<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Rich by Woolrich<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">NK Home<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Peninsula<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Canguro<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                </ul>
                </div>

                <div class="inda1">
                <div class="data">
                <p>MAG<span>11</span></p>
                </div>
                <ul>
                <li><a href="brand.html">Wanted<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Present Time<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Blunauta<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">De Kuba<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Guardini<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Bosch<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                <li><a href="brand.html">Dremel e Skil<%=image_tag "store/lente.png" ,:alt=>"lente"%></a></li>
                </ul>
                </div>

                <hr>

                <h1 class="lbl"><%=image_tag "store/arrow1.png",:width=>"11" ,:height=>"12" ,:alt=>"arrow" ,:class=>"arrow cyan"%>yayo mobile</h3>
                <div class="app">
                <p style="margin-bottom:15px;">Scarica la app e accedi a promozioni e prevendite esclusive!<br><a href="#" style="float:right;">Scarica gratis</a></p>
                <a href=""><%=image_tag "store/appyayo.png", :width=>"199", :height=>"66",:alt=>""%></a>
                <a href=""><%=image_tag "store/android-yayo.png" ,:width=>"199",:height=>"66",:alt=>""%></a>
                </div>